div.feed {
  flex: 5.5;
  padding: 10px;

  height: calc(100vh - 50px);

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
